body {
    font-family: 'Sanchez', serif;
}

.navContent{
    font-size: 18px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
nav .navbar-brand {
    float: left;
}

#navbarNavDropdown{
    text-align: -webkit-right;
}

.jumbotron {
    float: none;
    background: #1E6989;
    color: white;
    margin-bottom: 0px;
}
.jumbo-content {
    width: 960px;
    margin: auto;
    text-align: -webkit-left;
}

.block1 {
    text-align: -webkit-center;
    height: 350px;
    background: #EAEAEA;
}
.block1Con {
    width: 576px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 95px;
}

.container {
    width: 960px;
    margin: auto;
    text-align: -webkit-center;

}
.container ul li{
    margin-right: auto;
    margin-left: 55px;
    margin-bottom: 15px;
    text-align: -webkit-left;
    list-style-position: inside;
    max-width: 345px;
}

.block2 {
    text-align: -webkit-center;
    height: 350px;
    background: #f4f4f4;
    padding-top: 40px;
}




.foot {
    background: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;;
    font-size: 20px;
}
.footBody{
    width: 960px;
    margin: auto;
}

.copy{
    float: left;
}
.symbol {
    text-align: -webkit-right;
    float: none;
    -webkit-tap-highlight-color: transparent;
    color: black;
    outline: none;
    border: none;
}
.symbol a{
    color: white;
}

